/* COMPUTADORA */

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.contenedorLogo {
    padding-top: 25px;
}

.logoMenu {
    font-weight: bold;
    font-size: 3em;
}

.contenedorContacto {
    padding-top: 35px;
}

.menu-contacto {
    font-size: 1.4em;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translate(0%, -100%);
    background-color: #F3F4F8;
    opacity: 0.8;
    color: white;
    transition: all 1s ease-in-out;
}

.nav-links a {
    text-decoration: none;
}

.linkMenu {
    color: #313131;
    font-size: 5em;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.active {
    transform: translate(0%);
    opacity: 1;
}

.close {
    transform: translate(0px, -1000px);
    opacity: 0.8;
}

.linkMenu:hover {
    font-size: 5.5em;
}

.burgerBtn {
    display: block;
    cursor: pointer;
    z-index: 2;
    margin-top: 40px;
}

.linea1 {
    background-color: black;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
}

.linea2 {
    background-color: black;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    margin-top: 5px;
    transition: all 0.5s ease-in-out;
}

.linea1-active {
    transform: rotate(-45deg) translate(-4px, 0px);
    background-color: black;
}

.linea2-active {
    transform: rotate(45deg) translate(-5px, -2px);
    background-color: black;
}

/* HERO */

.container-hero {
    padding-top: 100px;
}

.contenedorEmoji {
    display: flex;
    justify-content: center;
}

.fondoEmoji {
    background-color: #F3F4F8;
    border-radius: 1000px;
    margin-left: 50px;
    padding: 100px 140px 100px 140px;
    opacity: 0;
    transform: translate(150%) rotate(70deg);
    transition: all 1.5s ease-in-out;
}

.fondoEmoji-active {
    opacity: 1;
    transform: translate(0%) rotate(0deg);
}

.hero-h1 {
    font-weight: bold;
    font-size: 6.5em;
    transform: translate(-150%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.hero-h4 {
    font-weight: regular;
    font-size: 2em;
    transform: translate(-150%);
    opacity: 0;
    transition: all 1s ease-in-out 0.2s;
}

.hero-h1-active,
.hero-h4-active {
    opacity: 1;
    transform: translate(0%);
}

.contenedor-hero-boton {
    margin-top: 30px;
    transform: translate(-1000px);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.contenedor-hero-boton-active {
    transform: translate(0px);
    opacity: 1;
}

.hero-boton,
.hero-boton:hover {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.hero-boton {
    background-color: #313131;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

/* BANNERS */

.contenedorBanners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerDesarrollo {
    background-color: #F7F4F3;
    width: 1000px;
    min-width: 1000px;
    border-radius: 20px;
    padding: 0px 75px 0px 75px;
    overflow: hidden;
    margin-top: 100px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.5s;
}

.bannerDesarrollo-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.bannerDesarrollo-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerDesarrollo-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.bannerDesarrollo-h3,
.bannerDiseño-h3 {
    font-weight: bold;
    font-size: 3.5em;
}

.bannerDesarrollo-p,
.bannerDiseño-p {
    font-weight: 400;
    font-size: 1.6em;
}

.img-desarrollo {
    width: 100%;
    height: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

.bannerDiseño {
    background-color: #F3F4F8;
    width: 1000px;
    min-width: 1000px;
    border-radius: 20px;
    padding: 0px 75px 0px 75px;
    overflow: hidden;
    margin-top: 30px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.5s;
}

.bannerDiseño-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.bannerDiseño-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.img-diseño {
    width: 100%;
    height: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

/* PROYECTOS */

.fila-proyectos-1,
.fila-proyectos-2,
.fila-proyectos-3 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fila-proyectos-titulo {
    margin-top: 100px;
    padding-left: 60px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-proyectos-titulo-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.proyectos-h4 {
    font-weight: bold;
    font-size: 6em;
    color: #F3F4F8;
}

.proyectos-h2 {
    font-weight: bold;
    font-size: 5em;
    color: black;
    margin-top: -10px;
}

.proyectos-h3 {
    font-weight: bold;
    font-size: 2.5em;
    color: black;
    margin-top: 50px;
    margin-left: 50px;
}

.proyectos-p {
    font-size: 1.6em;
    color: black;
    margin-left: 50px;
}

.proyecto-contenedor {
    background-color: #F7F4F3;
    width: 500px;
    min-width: 500px;
    border-radius: 20px;
    margin: 50px 10px 20px 0px;
    overflow: hidden;
    border: solid 1px rgb(244, 244, 244);
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.proyecto-contenedor-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.proyecto-img {
    width: 100%;
    transform: translate(150px, 100px);
    margin-top: -50px;
}

.proyecto-img-2 {
    width: 100%;
    transform: translate(150px, 100px);
    margin-top: -50px;
}

.proyecto-img-3 {
    width: 100%;
    transform: translate(150px, 100px);
    margin-top: -50px;
}

.proyecto-img-4 {
    width: 100%;
    transform: translate(150px, 100px);
    margin-top: -50px;
}

.proyecto-contenedor-2 {
    background-color: #F3F9F9;
    width: 500px;
    min-width: 500px;
    border-radius: 20px;
    margin: 50px 0px 20px 10px;
    overflow: hidden;
    border: solid 1px rgb(244, 244, 244);
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.proyecto-contenedor-2-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.proyecto-contenedor-3 {
    background-color: #F3F4F8;
    width: 500px;
    min-width: 500px;
    border-radius: 20px;
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    border: solid 1px rgb(244, 244, 244);
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.proyecto-contenedor-3-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.proyecto-contenedor-4 {
    background-color: #E7ECED;
    width: 500px;
    min-width: 500px;
    border-radius: 20px;
    margin: 0px 0px 0px 10px;
    overflow: hidden;
    border: solid 1px rgb(244, 244, 244);
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.proyecto-contenedor-4-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.proyecto-contenedor-5 {
    background-color: #F3F9F9;
    width: 500px;
    min-width: 500px;
    border-radius: 20px;
    margin: 20px 20px 0px 0px;
    overflow: hidden;
    border: solid 1px rgb(244, 244, 244);
    opacity: 0;
    transform: translate(-20px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.proyecto-contenedor-5-active {
    opacity: 1;
    transform: translate(-20px, 0px);
}

/* CLIENTES */

.fila-clientes-titulo {
    padding-right: 50px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-clientes-titulo-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.clientes-h4,
.clientes-h2 {
    text-align: right;
}

.fila-clientes-arrows {
    padding-right: 60px;
    padding-top: 20px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-clientes-arrows-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.contenedor-arrows {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    cursor: pointer;
}

.contenedor-right-arrow {
    background-color: #F7F4F3;
    padding: 10px 15px 10px 15px;
}

.contenedor-left-arrow {
    background-color: #F7F4F3;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
}

.fila-clientes-logos {
    justify-content: center;
    margin-top: 50px;
    flex-wrap: nowrap;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-clientes-logos-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.cliente-contenedor {
    background-color: #F3F9F9;
    padding: 50px 20px 50px 20px;
    margin-right: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.cliente-contenedor-1,
.cliente-contenedor-2,
.cliente-contenedor-3,
.cliente-contenedor-4,
.cliente-contenedor-5 {
    margin-right: 50px;
}

.contenedor-img-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.cliente-img {
    width: 150px;
    height: auto;
    filter: grayscale(1)
}

.cliente-img:hover {
    filter: grayscale(0)
}

/* SKILLS */

.container-skills {
    padding-top: 0px;
    padding-bottom: 0px;
}

.fila-skills-titulos {
    margin-top: 100px;
    padding-left: 40px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-skills-titulos-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.fila-skills-logos {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    padding-left: 55px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.5s;
}

.fila-skills-logos-active {
    opacity: 1;
    transform: translate(0px);
}

.contenedor-skill {
    background-color: #F7F4F3;
    padding: 31px;
    border-radius: 20px;
    margin-right: 20px;
}

.contenedor-skill:hover {
    background-color: #F3F9F9;
}

/* CONTACTO */

.fila-contacto-titulos {
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-contacto-titulos-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.fila-contacto {
    background-color: #F3F4F8;
    min-width: 1000px;
    width: 1000px;
    margin-top: 30px;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: url(../imagenes/shape-contacto.png);
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-contacto-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.contacto-columna-1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-left: 100px;
}

.contacto-columna-2 {
    text-align: center;
}

.container-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacto-h3 {
    font-weight: bold;
    font-size: 2.8em;
    margin-top: 20px;
}

.contacto-boton,
.contacto-boton:hover {
    background-color: #EC5A41;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 1.8em;
}

.contacto-p {
    font-size: 1.6em;
    font-weight: 300;
}

.fila-contacto-titulos {
    text-align: right;
    padding-right: 50px;
}

.fila-contacto-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-contacto-datos-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.fila-contacto-iconos {
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease-in-out 0.2s;
}

.fila-contacto-iconos-active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.datos-contacto-p {
    color: #A5A5A5;
    font-size: 1.6em;
}

.datos-contacto-h4 {
    color: #313131;
    font-weight: bold;
    font-size: 2.5em;
}

.datos-contacto-h5 {
    font-size: 1.6em;
    margin-top: 10px;
    font-weight: bold;
    color: #A5A5A5;
}

/* MEDIA QUERIES */

/* CELULAR */

@media (max-width: 768px) {

    html,
    body {
        position: relative;
        overflow-x: hidden;
    }

    /* MENU */

    .menu {
        padding: 0px 20px 0px 20px;
    }

    .contenedorLogo {
        padding-top: 30px;
    }

    .linkMenu {
        color: #313131;
        font-size: 4em;
        font-weight: bold;
        margin-top: 15px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }

    .nav-links {
        padding: 0px;
    }

    .linkMenu:hover {
        font-size: 5.5em;
    }

    .logoMenu {
        font-weight: bold;
        font-size: 2em;
    }

    .contenedorContacto {
        padding-top: 35px;
    }

    .menu-contacto {
        font-size: 1em;
    }

    .menu-contacto-whatsapp {
        display: none;
    }

    .burgerBtn {
        margin-top: 37px;
    }

    .linea1 {
        background-color: black;
        width: 20px;
        height: 3px;
        border-radius: 100px;
    }

    .linea2 {
        background-color: black;
        width: 20px;
        height: 3px;
        border-radius: 100px;
        margin-top: 5px;
    }

    /* HERO */

    .container-hero {
        padding-top: 75px;
    }

    .contenedorEmoji {
        display: flex;
        justify-content: center;
    }

    .fondoEmoji {
        background-color: #F3F4F8;
        border-radius: 1000px;
        padding: 50px 70px 50px 70px;
        opacity: 0;
        transform: translate(150%) rotate(70deg);
        transition: all 1.5s ease-in-out;
    }

    .fondoEmoji-active {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }

    .hero-emoji {
        width: 150px;
        height: auto;
    }

    .hero-h1 {
        font-weight: bold;
        text-align: center;
        font-size: 4.5em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hero-h4 {
        font-weight: regular;
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
        margin-top: 20px;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out 0.2s;
    }

    .hero-h1-active,
    .hero-h4-active {
        opacity: 1;
        transform: translate(0%);
    }

    .contenedor-hero-boton {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 75px;
    }

    .hero-boton,
    .hero-boton:hover {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .hero-boton {
        background-color: #313131;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
    }

    /* BANNERS */

    .contenedorBanners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bannerDesarrollo {
        background-color: #F7F4F3;
        width: 300px;
        height: 400px;
        min-width: 300px;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        overflow-x: hidden;
        margin-top: 100px;
        position: relative;
    }

    .bannerDesarrollo-col1 {
        text-align: center;
        padding: 0px;
    }

    .bannerDesarrollo-col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .bannerDesarrollo-h3,
    .bannerDiseño-h3 {
        font-weight: bold;
        font-size: 3.5em;
        text-align: center;
    }

    .bannerDesarrollo-p,
    .bannerDiseño-p {
        font-weight: 400;
        font-size: 1.6em;
        text-align: center;
    }

    .img-desarrollo {
        width: 350px;
        height: auto;
    }

    .bannerDiseño {
        background-color: #F3F4F8;
        width: 300px;
        height: 400px;
        min-width: 300px;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        overflow-x: hidden;
        margin-top: 50px;
        position: relative;
    }

    .bannerDiseño-col1 {
        text-align: center;
        padding: 0px;
    }

    .img-diseño {
        width: 350px;
        height: auto;
        transform: translate(10px, 30px);
    }

    /* PROYECTOS */

    .fila-proyectos-titulo {
        margin-top: 70px;
        padding-left: 25px;
    }

    .fila-proyectos-1,
    .fila-proyectos-2 {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proyectos-h4 {
        font-weight: bold;
        font-size: 4.5em;
        color: #F3F4F8;
    }

    .proyectos-h2 {
        font-weight: bold;
        font-size: 4.5em;
        color: black;
        margin-top: -10px;
    }

    .proyectos-h3 {
        font-weight: bold;
        font-size: 2em;
        color: black;
        margin-top: 50px;
        margin-left: 0px;
        text-align: center;
    }

    .proyectos-p {
        font-size: 1.4em;
        color: black;
        text-align: center;
        margin-left: 0px;
    }

    .proyecto-img {
        width: 100%;
        transform: translate(0px, 50px);
        margin-top: 0px;
    }

    .proyecto-img-2,
    .proyecto-img-3,
    .proyecto-img-4 {
        width: 100%;
        transform: translate(0px, 50px);
        margin-top: 0px;
    }

    .proyecto-contenedor {
        background-color: #F7F4F3;
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top: 50px;
        overflow: hidden;
        text-align: center;
    }

    .proyecto-contenedor-2 {
        background-color: #F3F9F9;
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top: 20px;
        overflow: hidden;
    }

    .proyecto-contenedor-3 {
        background-color: #F3F4F8;
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top: 20px;
        overflow: hidden;
    }

    .proyecto-contenedor-4 {
        background-color: #E7ECED;
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
        overflow: hidden;
    }

    .proyecto-contenedor-5 {
        background-color: #E7ECED;
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
        overflow: hidden;
        transform: translate(0px);
    }

    /* CLIENTES */

    .fila-clientes-titulo {
        padding-right: 50px;
    }

    .clientes-h4,
    .clientes-h2 {
        text-align: right;
    }

    .fila-clientes-arrows {
        padding-right: 60px;
        padding-top: 20px;
    }

    .contenedor-arrows {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .contenedor-right-arrow {
        background-color: #F7F4F3;
        padding: 10px 15px 10px 15px;
    }

    .contenedor-left-arrow {
        background-color: #F7F4F3;
        padding: 10px 15px 10px 15px;
        margin-right: 10px;
    }

    .fila-clientes-logos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 50px;
    }

    .cliente-contenedor {
        background-color: #F3F9F9;
        width: 300px;
        min-width: 300px;
        border-radius: 20px;
        padding: 50px 0px 50px 0px;
    }

    .cliente-contenedor-1,
    .cliente-contenedor-2,
    .cliente-contenedor-3,
    .cliente-contenedor-4,
    .cliente-contenedor-5 {
        margin-right: 50px;
    }

    .contenedor-img-cliente {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .cliente-img {
        width: 150px;
        height: auto;
        filter: grayscale(1)
    }

    .cliente-img:hover {
        filter: grayscale(0)
    }

    /* SKILLS */

    .container-skills {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .fila-skills-titulos {
        margin-top: 100px;
        padding-left: 40px;
        opacity: 0;
        transform: translate(0px, 0px);
        transition: all 1s ease-in-out 0.2s;
    }

    .fila-skills-titulos-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .fila-skills-logos {
        display: flex;
        justify-content: start;
        margin-top: 30px;
        padding-left: 55px;
        opacity: 0;
        transform: translate(0px, 0px);
        transition: all 1s ease-in-out 0.2s;
    }

    .fila-skills-logos-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .contenedor-skill {
        background-color: #F7F4F3;
        padding: 40px;
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .contenedor-skill:hover {
        background-color: #F3F9F9;
    }

    /* CONTACTO */

    .fila-contacto {
        background-color: #F3F4F8;
        min-width: 300px;
        width: 300px;
        height: 400px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-image: url(../imagenes/shape-contacto.png);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .contacto-columna-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 100px;
        text-align: center;
        padding: 0px;
        margin-bottom: -50px;
    }

    .contacto-columna-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .container-contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contacto-h3 {
        font-weight: bold;
        font-size: 2.8em;
        margin-top: 20px;
    }

    .contacto-boton,
    .contacto-boton:hover {
        background-color: #EC5A41;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .contacto-p {
        font-size: 1.6em;
        font-weight: 300;
    }

    .fila-contacto-datos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .datos-contacto-p {
        color: #A5A5A5;
        font-size: 1.4em;
    }

    .datos-contacto-h4 {
        color: #313131;
        font-weight: bold;
        font-size: 2em;
    }

    .datos-contacto-h5 {
        font-size: 1.6em;
        margin-top: 10px;
        font-weight: bold;
        color: #A5A5A5;
    }
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {

    html,
    body {
        position: relative;
        overflow-x: hidden;
    }

    /* MENU */

    .menu {
        padding: 0px 20px 0px 20px;
    }

    .contenedorLogo {
        padding-top: 30px;
    }

    .logoMenu {
        font-weight: bold;
        font-size: 2em;
    }

    .contenedorContacto {
        padding-top: 35px;
    }

    .menu-contacto {
        font-size: 1em;
    }

    .menu-contacto-whatsapp {
        display: none;
    }

    .burgerBtn {
        margin-top: 37px;
    }

    .linea1 {
        background-color: black;
        width: 20px;
        height: 3px;
        border-radius: 100px;
    }

    .linea2 {
        background-color: black;
        width: 20px;
        height: 3px;
        border-radius: 100px;
        margin-top: 5px;
    }

    /* HERO */

    .container-hero {
        padding-top: 100px;
    }

    .fila-hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contenedorTitulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .contenedorEmoji {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .fondoEmoji {
        background-color: #F3F4F8;
        border-radius: 1000px;
        padding: 50px 70px 50px 70px;
        opacity: 0;
        transform: translate(150%) rotate(70deg);
        transition: all 1.5s ease-in-out;
    }

    .fondoEmoji-active {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }

    .hero-emoji {
        width: 140px;
        height: auto;
    }

    .hero-h1 {
        font-weight: bold;
        text-align: center;
        font-size: 4em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hero-h4 {
        font-weight: regular;
        text-align: center;
        font-size: 1.6em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out 0.2s;
    }

    .hero-h1-active,
    .hero-h4-active {
        opacity: 1;
        transform: translate(0%);
    }

    .contenedor-hero-boton {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 100px;
    }

    .hero-boton,
    .hero-boton:hover {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .hero-boton {
        background-color: #313131;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
    }

    /* BANNERS */

    .contenedorBanners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bannerDesarrollo {
        background-color: #F7F4F3;
        width: 600px;
        height: 300px;
        min-width: 600px;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        overflow-x: hidden;
        margin-top: 75px;
        position: relative;
        flex-wrap: nowrap;
    }

    .bannerDesarrollo-col1 {
        text-align: center;
        padding: 0px;
    }

    .bannerDesarrollo-col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .bannerDesarrollo-h3,
    .bannerDiseño-h3 {
        font-weight: bold;
        font-size: 3.5em;
        text-align: center;
    }

    .bannerDesarrollo-p,
    .bannerDiseño-p {
        font-weight: 400;
        font-size: 1.6em;
        text-align: center;
    }

    .img-desarrollo {
        width: 350px;
        transform: translate(150px, 500px);
        margin-top: 50px;
    }

    .bannerDiseño {
        background-color: #F3F4F8;
        width: 600px;
        height: 300px;
        min-width: 600px;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        overflow-x: hidden;
        margin-top: 50px;
        position: relative;
        flex-wrap: nowrap;
    }

    .bannerDiseño-col1 {
        text-align: center;
        padding: 0px;
    }

    .img-diseño {
        width: 350px;
        height: auto;
        transform: translate(-100px, 0px);
    }


    /* PROYECTOS */

    .fila-proyectos-titulo {
        margin-top: 70px;
        padding-left: 50px;
    }

    .fila-proyectos-1,
    .fila-proyectos-2 {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proyectos-h4 {
        font-weight: bold;
        font-size: 4.5em;
        color: #F3F4F8;
    }

    .proyectos-h2 {
        font-weight: bold;
        font-size: 4.5em;
        color: black;
        margin-top: -10px;
    }

    .proyectos-h3 {
        font-weight: bold;
        font-size: 3em;
        color: black;
        margin-top: 50px;
        margin-left: 0px;
    }

    .proyectos-p {
        font-size: 1.6em;
        color: black;
        margin-left: 0px;
    }

    .proyecto-contenedor {
        background-color: #F7F4F3;
        width: 600px;
        min-width: 600px;
        height: 600px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top: 50px;
        overflow: hidden;
    }

    .proyecto-img {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-img-2 {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-img-3 {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-img-4 {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-contenedor-2 {
        background-color: #F3F9F9;
        width: 600px;
        min-width: 600px;
        height: 600px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top: 20px;
        overflow: hidden;
    }

    .proyecto-contenedor-3 {
        background-color: #F3F4F8;
        width: 600px;
        min-width: 600px;
        height: 600px;
        border-radius: 20px;
        margin-left: 0px;
        margin-top: 20px;
        overflow: hidden;
    }

    .proyecto-contenedor-4 {
        background-color: #E7ECED;
        width: 600px;
        min-width: 600px;
        height: 600px;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
        overflow: hidden;
    }

    .proyecto-contenedor-5 {
        background-color: #E7ECED;
        width: 600px;
        min-width: 600px;
        height: 600px;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
        overflow: hidden;
        transform: translate(0px);
    }

    /* CLIENTES */

    .fila-clientes-titulo {
        padding-right: 50px;
    }

    .clientes-h4,
    .clientes-h2 {
        text-align: right;
    }

    .fila-clientes-arrows {
        padding-right: 60px;
        padding-top: 20px;
    }

    .contenedor-arrows {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .contenedor-right-arrow {
        background-color: #F7F4F3;
        padding: 10px 15px 10px 15px;
    }

    .contenedor-left-arrow {
        background-color: #F7F4F3;
        padding: 10px 15px 10px 15px;
        margin-right: 10px;
    }

    .fila-clientes-logos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 50px;
    }

    .cliente-contenedor {
        background-color: #F3F9F9;
        width: 300px;
        min-width: 300px;
        border-radius: 20px;
    }

    .cliente-contenedor-1,
    .cliente-contenedor-2,
    .cliente-contenedor-3,
    .cliente-contenedor-4,
    .cliente-contenedor-5 {
        transform: translate(40px);
        margin-right: 50px;
    }

    .cliente-img {
        width: 150px;
        height: auto;
    }

    /* SKILLS */

    .container-skills {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .fila-skills-titulos {
        margin-top: 100px;
        padding-left: 40px;
        opacity: 0;
        transform: translate(0px, 0px);
        transition: all 1s ease-in-out 0.2s;
    }

    .fila-skills-titulos-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .fila-skills-logos {
        display: flex;
        justify-content: start;
        margin-top: 30px;
        padding-left: 55px;
        opacity: 0;
        transform: translate(0px, 0px);
        transition: all 1s ease-in-out 0.2s;
    }

    .fila-skills-logos-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .contenedor-skill {
        background-color: #F7F4F3;
        padding: 45px;
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .contenedor-skill:hover {
        background-color: #F3F9F9;
    }

    /* CONTACTO */

    .fila-contacto {
        background-color: #F3F4F8;
        min-width: 300px;
        width: 600px;
        height: 200px;
        margin-top: 30px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .contacto-columna-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-align: center;
        padding-left: 50px;
        padding-right: 20px;
        margin-bottom: 0px;
    }

    .contacto-columna-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-right: 50px;
        padding-left: 20px;
        margin: 0px;
    }

    .container-contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contacto-h3 {
        font-weight: bold;
        font-size: 2em;
        margin-top: 20px;
    }

    .contacto-boton,
    .contacto-boton:hover {
        background-color: #EC5A41;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .contacto-p {
        font-size: 1.6em;
        font-weight: 300;
    }

    .fila-contacto-datos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .datos-contacto-p {
        color: #A5A5A5;
        font-size: 1.4em;
    }

    .datos-contacto-h4 {
        color: #313131;
        font-weight: bold;
        font-size: 2em;
    }

    .datos-contacto-h5 {
        font-size: 1.6em;
        margin-top: 10px;
        font-weight: bold;
        color: #A5A5A5;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    html,
    body {
        position: relative;
        overflow-x: hidden;
    }

    /* MENU */

    .menu {
        padding: 0px 20px 0px 20px;
    }

    .contenedorLogo {
        padding-top: 30px;
    }

    .logoMenu {
        font-weight: bold;
        font-size: 2em;
    }

    .contenedorContacto {
        padding-top: 35px;
    }

    .menu-contacto {
        font-size: 1em;
    }

    .menu-contacto-whatsapp {
        display: none;
    }

    .burgerBtn {
        margin-top: 37px;
    }

    .linea1 {
        background-color: black;
        width: 20px;
        height: 3px;
        border-radius: 100px;
    }

    .linea2 {
        background-color: black;
        width: 20px;
        height: 3px;
        border-radius: 100px;
        margin-top: 5px;
    }

    /* HERO */

    .container-hero {
        padding-top: 100px;
    }

    .fila-hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contenedorTitulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .contenedorEmoji {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .fondoEmoji {
        background-color: #F3F4F8;
        border-radius: 1000px;
        padding: 70px 90px 70px 90px;
        opacity: 0;
        transform: translate(150%) rotate(70deg);
        transition: all 1.5s ease-in-out;
    }

    .fondoEmoji-active {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }

    .hero-emoji {
        width: 160px;
        height: auto;
    }

    .hero-h1 {
        font-weight: bold;
        text-align: center;
        font-size: 4.5em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hero-h4 {
        font-weight: regular;
        text-align: center;
        font-size: 1.6em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out 0.2s;
    }

    .hero-h1-active,
    .hero-h4-active {
        opacity: 1;
        transform: translate(0%);
    }

    .contenedor-hero-boton {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 100px;
    }

    .hero-boton,
    .hero-boton:hover {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .hero-boton {
        background-color: #313131;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
    }

    /* BANNERS */

    .contenedorBanners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bannerDesarrollo {
        background-color: #F7F4F3;
        width: 900px;
        height: 300px;
        min-width: 900px;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        overflow-x: hidden;
        margin-top: 75px;
        position: relative;
        flex-wrap: nowrap;
    }

    .bannerDesarrollo-col1 {
        text-align: center;
        padding: 0px;
    }

    .bannerDesarrollo-col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .bannerDesarrollo-h3,
    .bannerDiseño-h3 {
        font-weight: bold;
        font-size: 3.5em;
        text-align: center;
    }

    .bannerDesarrollo-p,
    .bannerDiseño-p {
        font-weight: 400;
        font-size: 1.6em;
        text-align: center;
    }

    .img-desarrollo {
        width: 500px;
        height: auto;
        transform: translate(30px, -20px);
    }

    .bannerDiseño {
        background-color: #F3F4F8;
        width: 900px;
        height: 300px;
        min-width: 900px;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        overflow-x: hidden;
        margin-top: 50px;
        position: relative;
        flex-wrap: nowrap;
    }

    .bannerDiseño-col1 {
        text-align: center;
        padding: 0px;
    }

    .img-diseño {
        width: 500px;
        height: auto;
        transform: translate(-100px, 0px);
    }

    /* PROYECTOS */

    .fila-proyectos-titulo {
        margin-top: 70px;
        padding-left: 20px;
    }

    .fila-proyectos-1,
    .fila-proyectos-2 {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .proyectos-h4 {
        font-weight: bold;
        font-size: 4.5em;
        color: #F3F4F8;
    }

    .proyectos-h2 {
        font-weight: bold;
        font-size: 4.5em;
        color: black;
        margin-top: -10px;
    }

    .proyectos-h3 {
        font-weight: bold;
        font-size: 2.4em;
        color: black;
        margin-top: 50px;
        margin-left: 50px;
    }

    .proyectos-p {
        font-size: 1.6em;
        color: black;
        margin-left: 50px;
    }

    .proyecto-contenedor {
        background-color: #F7F4F3;
        width: 450px;
        min-width: 450px;
        height: 450px;
        border-radius: 20px;
        margin-left: 0px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 50px;
        overflow: hidden;
    }

    .proyecto-img {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-img-2 {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-img-3 {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-img-4 {
        width: 100%;
        transform: translate(150px, 100px);
        margin-top: -50px;
    }

    .proyecto-contenedor-2 {
        background-color: #F3F9F9;
        width: 450px;
        min-width: 450px;
        height: 450px;
        border-radius: 20px;
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .proyecto-contenedor-3 {
        background-color: #F3F4F8;
        width: 450px;
        min-width: 450px;
        height: 450px;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 0px;
        margin-top: 10px;
        overflow: hidden;
    }

    .proyecto-contenedor-4 {
        background-color: #E7ECED;
        width: 450px;
        min-width: 450px;
        height: 450px;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 10px;
        overflow: hidden;
    }

    .proyecto-contenedor-5 {
        background-color: #E7ECED;
        width: 450px;
        min-width: 450px;
        height: 450px;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        overflow: hidden;
        transform: translate(-40px);
    }

    /* CLIENTES */

    .fila-clientes-titulo {
        padding-right: 50px;
    }

    .clientes-h4,
    .clientes-h2 {
        text-align: right;
    }

    .fila-clientes-arrows {
        padding-right: 60px;
        padding-top: 20px;
    }

    .contenedor-arrows {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .contenedor-right-arrow {
        background-color: #F7F4F3;
        padding: 10px 15px 10px 15px;
    }

    .contenedor-left-arrow {
        background-color: #F7F4F3;
        padding: 10px 15px 10px 15px;
        margin-right: 10px;
    }

    .fila-clientes-logos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 50px;
    }

    .cliente-contenedor {
        background-color: #F3F9F9;
        width: 300px;
        min-width: 300px;
        border-radius: 20px;
    }

    .cliente-contenedor-1,
    .cliente-contenedor-2,
    .cliente-contenedor-3,
    .cliente-contenedor-4,
    .cliente-contenedor-5 {
        transform: translate(40px);
        margin-right: 50px;
    }

    .cliente-img {
        width: 150px;
        height: auto;
    }

    /* SKILLS */

    .container-skills {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .fila-skills-titulos {
        margin-top: 100px;
        padding-left: 40px;
        opacity: 0;
        transform: translate(0px, 0px);
        transition: all 1s ease-in-out 0.2s;
    }

    .fila-skills-titulos-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .fila-skills-logos {
        display: flex;
        justify-content: start;
        margin-top: 30px;
        padding-left: 55px;
        opacity: 0;
        transform: translate(0px, 0px);
        transition: all 1s ease-in-out 0.2s;
    }

    .fila-skills-logos-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .contenedor-skill {
        background-color: #F7F4F3;
        padding: 50px;
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .contenedor-skill:hover {
        background-color: #F3F9F9;
    }

    /* CONTACTO */

    .fila-contacto {
        background-color: #F3F4F8;
        min-width: 300px;
        width: 900px;
        height: 200px;
        margin-top: 30px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .contacto-columna-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-align: center;
        padding-left: 50px;
        padding-right: 20px;
        margin-bottom: 0px;
    }

    .contacto-columna-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-right: 50px;
        padding-left: 20px;
        margin: 0px;
    }

    .container-contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contacto-h3 {
        font-weight: bold;
        font-size: 2em;
        margin-top: 20px;
    }

    .contacto-boton,
    .contacto-boton:hover {
        background-color: #EC5A41;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .contacto-p {
        font-size: 1.6em;
        font-weight: 300;
    }

    .fila-contacto-datos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .datos-contacto-p {
        color: #A5A5A5;
        font-size: 1.4em;
    }

    .datos-contacto-h4 {
        color: #313131;
        font-weight: bold;
        font-size: 2em;
    }

    .datos-contacto-h5 {
        font-size: 1.6em;
        margin-top: 10px;
        font-weight: bold;
        color: #A5A5A5;
    }
}