.clientes__marketing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientes__marketing__row {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 2fr;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 75px;
}

.clientes__marketing__row__cliente__img {
    width: 100px;
    height: auto;
    filter: grayscale(1);
    opacity: 0.5;
}