/* HERO DESKTOP */

.container-hero {
    padding-top: 100px;
}

.contenedorEmoji {
    display: flex;
    justify-content: center;
}

.fondoEmoji {
    background-color: #F3F4F8;
    border-radius: 1000px;
    margin-left: 50px;
    padding: 100px 140px 100px 140px;
    opacity: 0;
    transform: translate(150%) rotate(70deg);
    transition: all 1.5s ease-in-out;
}

.fondoEmoji-active {
    opacity: 1;
    transform: translate(0%) rotate(0deg);
}

.hero-h1 {
    font-weight: bold;
    font-size: 6.5em;
    transform: translate(-150%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.hero-h4 {
    font-weight: regular;
    font-size: 2em;
    transform: translate(-150%);
    opacity: 0;
    transition: all 1s ease-in-out 0.2s;
}

.hero-h1-active,
.hero-h4-active {
    opacity: 1;
    transform: translate(0%);
}

.contenedor-hero-boton {
    margin-top: 30px;
    transform: translate(-1000px);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.contenedor-hero-boton-active {
    transform: translate(0px);
    opacity: 1;
}

.hero-boton,
.hero-boton:hover {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.hero-boton {
    background-color: #313131;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

/* MEDIA QUERIES */

/* CELULAR */

@media (max-width: 768px) {
    /* HERO */

    .container-hero {
        padding-top: 75px;
    }

    .contenedorEmoji {
        display: flex;
        justify-content: center;
    }

    .fondoEmoji {
        background-color: #F3F4F8;
        border-radius: 1000px;
        padding: 50px 70px 50px 70px;
        margin-left: 0px;
        opacity: 0;
        transform: translate(150%) rotate(70deg);
        transition: all 1.5s ease-in-out;
    }

    .fondoEmoji-active {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }

    .hero-emoji {
        width: 150px;
        height: auto;
    }

    .hero-h1 {
        font-weight: bold;
        text-align: center;
        font-size: 4.5em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hero-h4 {
        font-weight: regular;
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
        margin-top: 20px;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out 0.2s;
    }

    .hero-h1-active,
    .hero-h4-active {
        opacity: 1;
        transform: translate(0%);
    }

    .contenedor-hero-boton {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 75px;
    }

    .hero-boton,
    .hero-boton:hover {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .hero-boton {
        background-color: #313131;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
    }
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* HERO */

    .container-hero {
        padding-top: 100px;
    }

    .fila-hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contenedorTitulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .contenedorEmoji {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .fondoEmoji {
        background-color: #F3F4F8;
        border-radius: 1000px;
        padding: 50px 70px 50px 70px;
        opacity: 0;
        transform: translate(150%) rotate(70deg);
        transition: all 1.5s ease-in-out;
    }

    .fondoEmoji-active {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }

    .hero-emoji {
        width: 140px;
        height: auto;
    }

    .hero-h1 {
        font-weight: bold;
        text-align: center;
        font-size: 4em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hero-h4 {
        font-weight: regular;
        text-align: center;
        font-size: 1.6em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out 0.2s;
    }

    .hero-h1-active,
    .hero-h4-active {
        opacity: 1;
        transform: translate(0%);
    }

    .contenedor-hero-boton {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 100px;
    }

    .hero-boton,
    .hero-boton:hover {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .hero-boton {
        background-color: #313131;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* HERO */

    .container-hero {
        padding-top: 100px;
    }

    .fila-hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contenedorTitulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .contenedorEmoji {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .fondoEmoji {
        background-color: #F3F4F8;
        border-radius: 1000px;
        padding: 70px 90px 70px 90px;
        opacity: 0;
        transform: translate(150%) rotate(70deg);
        transition: all 1.5s ease-in-out;
    }

    .fondoEmoji-active {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }

    .hero-emoji {
        width: 160px;
        height: auto;
    }

    .hero-h1 {
        font-weight: bold;
        text-align: center;
        font-size: 4.5em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .hero-h4 {
        font-weight: regular;
        text-align: center;
        font-size: 1.6em;
        transform: translate(-150%);
        opacity: 0;
        transition: all 1s ease-in-out 0.2s;
    }

    .hero-h1-active,
    .hero-h4-active {
        opacity: 1;
        transform: translate(0%);
    }

    .contenedor-hero-boton {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 100px;
    }

    .hero-boton,
    .hero-boton:hover {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .hero-boton {
        background-color: #313131;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
    }

}